div.MenuBar {
	background: #6495ED;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	padding: 3;
	padding-left: 10;
	cursor: default;
}

div.MenuBar span { 
	color: #0000c0;
	cursor: hand;
}

div.Menubar span.highlight {
	background: white;
}

div.MenuBar span.dehighlight {
	background: #6495ED;
}

div.MenuBar div.desc {
	color: white;
	float: right;
	padding-right: 5px;
}

div.Menu {
	position: absolute;
	padding: 4;
	padding-left: 15;
	padding-right: 15;
	font-size: 10pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	background-color: #9FBDF4;
	border: thin outset #6495ED;
}

div.Menu hr {
	width: 50px;
	text-align: left;
}

div.Menu span { 
	color: #0000c0;
	cursor: hand;
}

div.Menu span.unselectable {
	color: black;
}

div.Menu span.notenabled {
	color: gray;
}

div.Menu span.highlight {
	background: white;
}

div.Menu span.dehighlight {
	background: #9FBDF4;
}

div.Menu span.larr {
	width: 15;
	color: blue;
	font-size: 10pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	padding: 0;
	padding-left: 1;
	margin:0;
	vertical-align: top;
}
