span.highlight {
	background: white;
}

span.dehighlight {
	background: #A8C7FF;
}

span {
	cursor: default;
}

div.open {
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12pt;
	color:red;
	margin-top: 4;
}

div.closed {
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12pt;
	color:black;
	margin-top: 4;
}