body {
	background-color:#c6d8f9; 
	margin:0; 
	padding:0; 
	overflow:auto;
}

h1 { padding-top:10; }

.thv {
	padding:5; 
	font-family:monospace;
	text-align:left;
	layout-flow: vertical-ideographic;
	/*writing-mode:tb-rl; */
}

.thl {
	text-align:left; 
	padding:5;
	vertical-align:bottom;
}

td {
	text-align:center; 
	padding:5;
}

.tdu {
	text-align:left; 
	padding 5;
}

td.tdu input { 
	font-family:monospace;
	width:220px;
}

.tdp {
	text-align:left; 
	padding 5;
}

td.tdp input { 
	font-family:monospace;
	width:150px;
}

table { empty-cells:hide; }
